* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

div.container {
  display: inline-block;
  position: relative;
}

div.top-indicator {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 20px;
  align-items: center;
}

div.player-1-health,
div.player-2-health {
  background-color: yellow;
  height: 30px;
  width: 100%;
}

div.timer {
  background-color: red;
  height: 100px;
  width: 100px;
  flex-shrink: 0;
}

/* canvas {
  width: 1366px;
  height: 768px;
} */
