* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

div.container {
  display: inline-block;
  position: relative;
}

div.top-indicator {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 20px;
  align-items: center;
}

div.player1 {
  position: relative;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
div.player1 > div.health {
  position: absolute;
  background-color: green;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
div.player1 > div.max-health {
  background: red;
  height: 30px;
  width: 100%;
}

div.player2 {
  position: relative;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
div.player2 > div.health {
  position: absolute;
  background-color: green;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
div.player2 > div.max-health {
  background: red;
  height: 30px;
  width: 100%;
}

div.timer {
  background-color: gray;
  height: 100px;
  width: 100px;
  flex-shrink: 0;
}

/* canvas {
  width: 1366px;
  height: 768px;
} */
